// Autor: Ognjen Bjeletic 2018/0447
@charset "utf-8";

@import "node_modules/@fortawesome/fontawesome-svg-core/styles";

$text-strong: white;
$text: rgb(206, 206, 206);
$link: rgb(219, 143, 55);
$card-background-color: rgb(78, 73, 66);
$body-background-color: rgb(32, 33, 46);

$scheme-main: $card-background-color;

$card-shadow: 0;
$card-header-shadow: 0;

$border-light: $text;

$box-background-color: $card-background-color;
$navbar-background-color: $card-background-color;
$footer-background-color: $card-background-color;

$input-background-color: $body-background-color;
$input-border-color: $text;
$input-icon-color: $text;
$input-hover-border-color: $link;

$input-placeholder-color: $link;
$button-background-color: $card-background-color;
$button-border-color: $text;

$dropdown-content-background-color: $body-background-color;

$input-disabled-background-color: $body-background-color;
$button-disabled-background-color: $body-background-color;

$navbar-item-hover-background-color: transparent;
$navbar-item-hover-color: $text;

$nav-height: 100px;
$navbar-item-img-max-height: 0.75 * $nav-height;

$button-focus-color: none;
$button-focus-border-color: none;

@import "../node_modules/bulma/bulma.sass";

//navbar
nav{
height: $nav-height;
}
.navbar-burger {
height: $nav-height;
}

.navbar-item {
font-size: 14pt;
}

.navbar-placeholder {
height: $nav-height;
}
//

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-div {
  flex: 1;
}

.footer {
  padding: 3rem 1.5rem 1.5rem;
}

.center-horizontally {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

//tablet and up
@media only screen and (min-width: 769px){
  .is-1-3 {
    font-size: 3rem;
  }
  .is-3-5 {
    font-size: 2rem;
  }
}
//phone-only
@media only screen and (max-width: 768px){
  .is-1-3 {
    font-size: 2rem;
  }
  .is-3-5 {
    font-size: 1.25rem;
  }
  .button.center-mobile {
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}